<div>
  <app-toolbar
    title="Tests"
    (sendSearchString)="onSearchChange($event)"
    (onEditClick)="onEditClickEvent()"
  ></app-toolbar>

  <mat-card class="tests-card">
    <mat-card-content>
      <app-test-list *ngIf="result" 
        [onEditClick]="onEditClick"
        (onRemoveClick)="deleteTest($event)"
        [tests]="result"
        [searchString]="searchString">
      </app-test-list>
      
      <div class="paginator mat-elevation-z4" *ngIf="result.length !== 0">
        <mat-paginator
          [length]="totalRecordCount"
          [pageSize]="pageSize"
          (page)="change($event)"
          >
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- <div class="card-container mat-elevation-z4">
  <div 
    fxLayout="row wrap" 
    fxLayout.lt-sm="column" 
    fxLayoutGap="15px" 
    fxLayoutAlign="flex-start">

    <ng-container *ngFor="let test of result">
      <app-test-preview 
        [test]="test"
        fxFlex="0 1 calc(33.3% - 32px)">
      </app-test-preview>
    </ng-container>
  </div>

  <div class="paginator mat-elevation-z4" *ngIf="result.length !== 0">
      <mat-paginator
        [length]="totalPage"
        [pageSize]="pageSize"
        [pageSizeOptions]="[12, 24]"
        (page)="change($event)">
      </mat-paginator>
  </div>
</div> -->