<div class="card-container mat-elevation-z4">
  <div 
    fxLayout="row wrap" 
    fxLayout.lt-sm="column" 
    fxLayoutGap="15px" 
    fxLayoutAlign="flex-start">

    <ng-container *ngFor="let test of result">
      <app-test-preview 
        [test]="test"
        fxFlex="0 1 calc(33.3% - 32px)">
      </app-test-preview>
    </ng-container>
  </div>

  <div class="paginator mat-elevation-z4" *ngIf="result.length !== 0">
      <mat-paginator
        [length]="totalPage"
        [pageSize]="pageSize"
        [pageSizeOptions]="[12, 24]"
        (page)="change($event)">
      </mat-paginator>
  </div>
</div>