
.tests-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

 /* Column Gap */
.tests-list  > * {
  box-sizing: border-box;
}
.tests-list  > *:not(:last-child) {
  margin-right: 30px;
}