<form [formGroup]="questionCreatorForm">
  <mat-card class="question-creator-card">
    <mat-card-content>

      <mat-form-field class="question-creator-input">
        <input 
          matInput 
          type="text"
          formControlName="text" 
          placeholder="Question"
          required>
          <mat-error *ngIf="hasError(questionCreatorForm, 'text', 'required')" class='test-creator-input-error'>Question text is required</mat-error>
      </mat-form-field>
    
      <div formArrayName="answers">
        <mat-radio-group >
          <div *ngFor="let answer of formDataAnswers.controls; let i=index">
            <div [formGroupName]="i">
                <input type="radio" [value]="true" formControlName="isCorrect">
                <mat-form-field class="question-creator-input">
                  <input 
                  matInput
                  formControlName="text"
                  [placeholder]="'Answer'"
                  required>
                </mat-form-field>
                <button mat-mini-fab
                  (click)="removeAnswer(i)">
                  X
                </button>
            </div>
          </div>
        </mat-radio-group>
      </div>
      <br>
      <button mat-mini-fab
        (click)="addAnswer()">
        +
      </button>

    </mat-card-content>
  </mat-card>
</form>
