<mat-card class="test-preview-card">
  <mat-card-header>
    <mat-card-title>
      {{test.name}}
    </mat-card-title>
  </mat-card-header>

  <img 
    mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-w0qzgIM7XAWj_aAtCwnxrSJ7iZEx6kV_UyIgN8siTN4SqaPI" 
    alt="Test's image">

  <mat-card-content>
      {{test.description}}
  </mat-card-content>

  <!-- <span *appShowAuthed="true"> -->
      <mat-card-actions align="end" *ngIf="onEditClick">
          <button mat-button 
          (click)="openDialog()">Remove</button>
      </mat-card-actions>
    
      <mat-card-actions align="end" *ngIf="!onEditClick">
        <button mat-button (click)="startTest()">Start</button>
      </mat-card-actions>
  <!-- </span> -->
 
</mat-card>
