<header>
  <mat-toolbar md-scroll-shrink color="primary">
    <mat-toolbar-row>

      <a class="nav-link logo" routerLink="/home">
        Quiz
      </a>

      <span class="spacer"></span>

      <a class="nav-link" routerLink="/home">
        Home
      </a>

      <div *appShowAuthed="false">
        <a class="nav-link" routerLink="/login">
          Sign in
        </a>
  
        <a class="nav-link" routerLink="/reg">
          Sign up
        </a>
      </div>

      <div *appShowAuthed="true">
        <a class="nav-link" routerLink="/profile">
          <mat-icon aria-label="profile">face</mat-icon>
        </a>
      </div>

      <div *ngIf="isAdmin">
        <a class="nav-link" routerLink="/tests">
          <mat-icon aria-label="profile">extension</mat-icon>
        </a>
      </div>

      <div *ngIf="isAdmin">
        <a class="nav-link" routerLink="/users">
          <mat-icon aria-label="profile">people</mat-icon>
        </a>
      </div>

      
    </mat-toolbar-row>
  </mat-toolbar>
</header>